<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
        </tr>
        
                {% for i in data %}
                <tr>
                    <th>{{i[0]}}</th>
                    <th>{{i[1]}}</th>
                </tr>
                {%endfor%}
    </table>
</body>
</html>