<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        Name:<input name="nm" type="text"><br>
        Number: <input name="nb" type="number"><br>
        <button>Submit</button>
    </form>
    <br>
    <form action="/show" method="post">
        <button>Shown the Data base</button>
    </form>
</body>
</html>